.wrap {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0px;
}

form {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background: #f1f1f1;
  border-radius: 10px 0px;
}

input {
  width: 60%;
  /* em -> 현재글자크기의 n배 지금은 2배
  line-height - 한줄의 높이
  height - 전체 높이 */
  line-height: 2em;
  height: 2em;
}

label {
  width: 100%;
  display: inline-block;
  margin: 10px 0px;
}

input[type="submit"] {
  width: 90%;
  display: inline-block;
  margin: 10px;
  background: #918191;
  color: #fff border=none;
  padding: 10px;
  height: 3em;
}
