.wrap {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0px;
}

table{
  /* 이부분이 없으면 각각 칸들이 떨어져서 표시됨. 대부분 붙여쓰니 꼭 넣어주자! */
  border-collapse: collapse;
}

th{
  text-align: center;
  background: #999;
  color: #fff;
  padding: 5px 10px;
  border: 1px solid #f1f1f1;
}

td{
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #f1f1f1;
}
